
.header-container {
  display: flex;
  align-items: center;
  background-color: #cce6ff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-family: Arial, sans-serif;
  border: 1px solid gray;
}


.logo-section {
  margin-right: 15px;
}

.logo {
  height: 60px;
  width: 60px;
}


.title-section {
  flex: 1;
}

.company-name {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.app-name {
  margin: 0;
  font-size: 18px;
}


.user-section {
  display: flex;
  align-items: center;
  position: relative;
  
}

.welcome-message {
  margin-right: 20px;
  font-size: 14px;
  position: relative;
  bottom: 30px;
  left:180px
}

.user-icon {
  margin-right: 5px;
}

.action-buttons {
  display: flex;
  position: relative;
  top: 20px;
}

.nav-button {
  background-color: #666;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #555;
}


.icons {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.help-icon,
.logout-icon {
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 5px;
  margin-left: 10px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
